body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.logout {
    background-color: #449d44;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #3c8c3c;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
}

.buttons button {
    background-color: #e7e7e7;
    color: #555;
    border: none;
    border-radius: 10px;
    padding: 20px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #ccc;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
}
.table-class {
    width: 100%; /* Растягивание таблицы на все доступное место */
    border-collapse: collapse; /* Объединение границ ячеек */
    margin-bottom: 20px; /* Добавление отступа снизу */
}
.taskTr {
    background-color: #f9f9f9; /* Задний фон каждой строки таблицы */
}
.taskTr:nth-child(even) {
    background-color: #f2f2f2; /* Задний фон каждой четной строки таблицы */
}
.taskTr:hover {
    background-color: #ddd; /* Задний фон каждой строки таблицы при наведении */
}
th {
    background-color: #696969; /* Задний фон заголовков столбцов */
    color: #fff; /* Цвет текста заголовков столбцов */
}
th, td {
    padding: 8px; /* Отступы в ячейках */
    text-align: left; /* Выравнивание текста в ячейках */
    border: 1px solid #ddd; /* Границы ячеек */
}
.taskPartner, .taskStatus, .short-text, .deadlines, .taskIntensity, .taskDataDone, .taskData, .taskDepartment, .taskAuthor {
    white-space: nowrap; /* Запрет переноса строки внутри ячеек */
    overflow: hidden; /* Скрытие текста, выходящего за границы ячеек */
    text-overflow: ellipsis; /* Добавление многоточия в конце текста, выходящего за границы ячеек */
    max-width: 150px; /* Максимальная ширина ячеек таблицы */
}
.expandable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.expandable.expanded {
    overflow: auto;
    white-space: normal;
}